SPRING_PROFILES_ACTIVE=brevo

APP_NAME=karv-coins
SERVER_CONTEXT_PATH=/api/karv-coins

DB_URL=
DB_USERNAME=
DB_PASSWORD=

JPA_DDL_AUTO=update

JWT_ISSUER=karv-coins
JWT_EXPIRATION_SECONDS=3600
JWT_SECRET=

QUEUE_ADDRESS=

FRONTEND_BASE_URL=http://localhost:4200

BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
BREVO_MAIL_FROM=

MAIL_ENABLED=true
MAIL_VALIDATE_ON_STARTUP=true

MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_TEST_CONNECTION=false
MAIL_SMTP_AUTH=true
MAIL_SMTP_CONNECTION_TIMEOUT=10000
MAIL_SMTP_TIMEOUT=10000
MAIL_SMTP_WRITE_TIMEOUT=10000
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_SMTP_STARTTLS_REQUIRED=true

APP_MAIL_NAME=KarvCoins
