SPRING_PROFILES_ACTIVE=brevo

BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
BREVO_MAIL_FROM=

BREVO_ENABLED=true
MAIL_ENABLED=true
MAIL_VALIDATE_ON_STARTUP=true

MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true

DB_PASSWORD=

JWT_SECRET=
QUEUE_ADDRESS=